
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


.contenedor-body{

    display: grid;
    text-align: center;
    color: rgb(15, 15, 15);
    padding-top: 100px;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20PX;
    overflow-x: hidden;

    font-family: 'Julius Sans One', sans-serif;
    font-size: 20PX;
    

}

  .contenedor-footer{
    display: inline-block;
    background-color: black ;
    padding: 30px 0 30px 0;
    text-align: center;
    
}


img{
    
    height: 10%;
    width: 10%;
    object-fit: contain;
    
   

}


.redes{
    width: 24%;
    height: 24%;
    overflow: hidden;
    position: sticky;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    


    
}

