
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


.contenedor-body{

    display: grid;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 90px;
    background-image: linear-gradient(to right, #a8caba 0%, #5d4157 100%);
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20PX;
  

}

  .contenedor-footer{
    display: inline-block;
    background-color: black ;
    padding: 30px 0 30px 0;
    text-align: center;
    
}


img{
   
    width: 10%;
   
}


.redes{
    width: 24%;
    height: 24%;
    overflow: hidden;
    position: sticky;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    
    
}

.contenedor-users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
}


